In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
from sklearn.preprocessing import LabelBinarizer

In [2]:
beer = pd.read_csv('data/beer_reviews.csv')
beer.head(10)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883
5,1075,Caldera Brewing Company,1325524659,3.0,3.5,3.5,oline73,Herbed / Spiced Beer,3.0,3.5,Caldera Ginger Beer,4.7,52159
6,1075,Caldera Brewing Company,1318991115,3.5,3.5,3.5,Reidrover,Herbed / Spiced Beer,4.0,4.0,Caldera Ginger Beer,4.7,52159
7,1075,Caldera Brewing Company,1306276018,3.0,2.5,3.5,alpinebryant,Herbed / Spiced Beer,2.0,3.5,Caldera Ginger Beer,4.7,52159
8,1075,Caldera Brewing Company,1290454503,4.0,3.0,3.5,LordAdmNelson,Herbed / Spiced Beer,3.5,4.0,Caldera Ginger Beer,4.7,52159
9,1075,Caldera Brewing Company,1285632924,4.5,3.5,5.0,augustgarage,Herbed / Spiced Beer,4.0,4.0,Caldera Ginger Beer,4.7,52159

In [3]:
overall_review = beer.groupby("beer_name")["review_overall"].mean()
taste_review = beer.groupby("beer_name")["review_taste"].mean()
aroma_review = beer.groupby("beer_name")["review_aroma"].mean()
appearance_review = beer.groupby("beer_name")["review_appearance"].mean()
palate_review = beer.groupby("beer_name")["review_palate"].mean()

In [4]:
beer_df_updated = pd.DataFrame({"overall_review": overall_review, "taste_review": taste_review,"aroma_review": aroma_review,
                               "appearance_review": appearance_review, "palate_review": palate_review})

In [5]:
beer_df_updated.head()

,overall_review,taste_review,aroma_review,appearance_review,palate_review
beer_name,,,,,
! (Old Ale),4.0,4.50,4.5,4.00,4.000000
"""100"" Pale Ale",4.0,4.00,4.0,3.50,4.000000
"""12"" Belgian Golden Strong Ale",4.0,4.50,3.5,4.25,4.750000
"""33"" Export",3.0,3.00,3.0,3.00,3.166667
"""4"" Horse Oatmeal Stout",4.0,3.25,3.5,4.00,3.250000

In [6]:
merged_df = pd.merge(beer, beer_df_updated, on="beer_name", how="left")
merged_df.head(6)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,overall_review,taste_review,aroma_review,appearance_review,palate_review
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986,1.500000,1.500000,2.000000,2.500000,1.500000
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213,3.000000,3.000000,2.500000,3.000000,3.000000
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215,3.000000,3.000000,2.500000,3.000000,3.000000
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969,3.000000,3.000000,3.000000,3.500000,2.500000
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883,4.000000,4.500000,4.500000,4.000000,4.000000
5,1075,Caldera Brewing Company,1325524659,3.0,3.5,3.5,oline73,Herbed / Spiced Beer,3.0,3.5,Caldera Ginger Beer,4.7,52159,3.833333,3.777778,3.722222,3.666667,3.277778

In [7]:
beer_data_df = merged_df.drop_duplicates(["beer_name"])
beer_data_df.head(10)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,overall_review,taste_review,aroma_review,appearance_review,palate_review
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986,1.500000,1.500000,2.000000,2.500000,1.500000
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213,3.000000,3.000000,2.500000,3.000000,3.000000
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215,3.000000,3.000000,2.500000,3.000000,3.000000
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969,3.000000,3.000000,3.000000,3.500000,2.500000
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883,4.000000,4.500000,4.500000,4.000000,4.000000
5,1075,Caldera Brewing Company,1325524659,3.0,3.5,3.5,oline73,Herbed / Spiced Beer,3.0,3.5,Caldera Ginger Beer,4.7,52159,3.833333,3.777778,3.722222,3.666667,3.277778
10,163,Amstel Brouwerij B. V.,1010963392,3.0,2.0,3.0,fodeeoz,Light Lager,2.5,2.5,Amstel Light,3.5,436,2.719355,2.363441,2.231183,2.568817,2.450538
15,1075,Caldera Brewing Company,1316025612,3.0,3.0,2.5,Beerandraiderfan,Oatmeal Stout,3.0,3.0,Caldera Oatmeal Stout,7.2,10789,2.500000,2.500000,2.250000,2.500000,2.750000
17,1075,Caldera Brewing Company,1062311123,4.0,3.0,4.0,beerguy101,American Pale Lager,4.0,4.0,Caldera OBF 15,5.6,12386,4.000000,4.000000,3.000000,4.000000,4.000000
19,1075,Caldera Brewing Company,1325478004,4.5,4.5,3.0,UCLABrewN84,Rauchbier,4.0,4.5,Rauch Ür Bock,7.4,58046,4.166667,4.154762,4.309524,3.821429,3.892857

In [8]:
clean_beer = beer_data_df.drop(["brewery_name", "review_time", "review_profilename"], axis=1)
clean_beer.head(2)

,brewery_id,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,overall_review,taste_review,aroma_review,appearance_review,palate_review
0,10325,1.5,2.0,2.5,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986,1.5,1.5,2.0,2.5,1.5
1,10325,3.0,2.5,3.0,English Strong Ale,3.0,3.0,Red Moon,6.2,48213,3.0,3.0,2.5,3.0,3.0

In [9]:
style_cols = pd.get_dummies(beer_data_df.beer_style)

In [10]:
beer_df = pd.concat([clean_beer, style_cols], axis=1)

In [11]:
beer_df.head(2)

,brewery_id,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,...,Scotch Ale / Wee Heavy,Scottish Ale,Scottish Gruit / Ancient Herbed Ale,Smoked Beer,Tripel,Vienna Lager,Weizenbock,Wheatwine,Winter Warmer,Witbier
0,10325,1.5,2.0,2.5,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986,...,0,0,0,0,0,0,0,0,0,0
1,10325,3.0,2.5,3.0,English Strong Ale,3.0,3.0,Red Moon,6.2,48213,...,0,0,0,0,0,0,0,0,0,0

In [12]:
dropped_df = beer_df.drop(["beer_name", "beer_style"], axis=1)

In [13]:
dropped_df.head()

,brewery_id,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid,overall_review,taste_review,...,Scotch Ale / Wee Heavy,Scottish Ale,Scottish Gruit / Ancient Herbed Ale,Smoked Beer,Tripel,Vienna Lager,Weizenbock,Wheatwine,Winter Warmer,Witbier
0,10325,1.5,2.0,2.5,1.5,1.5,5.0,47986,1.5,1.5,...,0,0,0,0,0,0,0,0,0,0
1,10325,3.0,2.5,3.0,3.0,3.0,6.2,48213,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
2,10325,3.0,2.5,3.0,3.0,3.0,6.5,48215,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
3,10325,3.0,3.0,3.5,2.5,3.0,5.0,47969,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
4,1075,4.0,4.5,4.0,4.0,4.5,7.7,64883,4.0,4.5,...,0,0,0,0,0,0,0,0,0,0

In [14]:
new_beer_df = dropped_df.fillna(0)

In [15]:
new_beer_df.head()

,brewery_id,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid,overall_review,taste_review,...,Scotch Ale / Wee Heavy,Scottish Ale,Scottish Gruit / Ancient Herbed Ale,Smoked Beer,Tripel,Vienna Lager,Weizenbock,Wheatwine,Winter Warmer,Witbier
0,10325,1.5,2.0,2.5,1.5,1.5,5.0,47986,1.5,1.5,...,0,0,0,0,0,0,0,0,0,0
1,10325,3.0,2.5,3.0,3.0,3.0,6.2,48213,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
2,10325,3.0,2.5,3.0,3.0,3.0,6.5,48215,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
3,10325,3.0,3.0,3.5,2.5,3.0,5.0,47969,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
4,1075,4.0,4.5,4.0,4.0,4.5,7.7,64883,4.0,4.5,...,0,0,0,0,0,0,0,0,0,0

In [16]:
from sklearn.cluster import KMeans

In [17]:
kmeans = KMeans(n_clusters=100)

In [18]:
# Fit the model to the data
kmeans.fit(new_beer_df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=100, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [19]:
# Predict the clusters
predicted_clusters = kmeans.predict(new_beer_df)
predicted_clusters

array([53, 53, 53, ..., 57, 30, 83])

In [20]:
beer_df["cluster"] = predicted_clusters

In [22]:
beer_df["brewery_name"] = beer_data_df["brewery_name"]

In [23]:
beer_df.head(10)

,brewery_id,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,...,Scottish Gruit / Ancient Herbed Ale,Smoked Beer,Tripel,Vienna Lager,Weizenbock,Wheatwine,Winter Warmer,Witbier,cluster,brewery_name
0,10325,1.5,2.0,2.5,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986,...,0,0,0,0,0,0,0,0,53,Vecchio Birraio
1,10325,3.0,2.5,3.0,English Strong Ale,3.0,3.0,Red Moon,6.2,48213,...,0,0,0,0,0,0,0,0,53,Vecchio Birraio
2,10325,3.0,2.5,3.0,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215,...,0,0,0,0,0,0,0,0,53,Vecchio Birraio
3,10325,3.0,3.0,3.5,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969,...,0,0,0,0,0,0,0,0,53,Vecchio Birraio
4,1075,4.0,4.5,4.0,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883,...,0,0,0,0,0,0,0,0,92,Caldera Brewing Company
5,1075,3.0,3.5,3.5,Herbed / Spiced Beer,3.0,3.5,Caldera Ginger Beer,4.7,52159,...,0,0,0,0,0,0,0,0,9,Caldera Brewing Company
10,163,3.0,2.0,3.0,Light Lager,2.5,2.5,Amstel Light,3.5,436,...,0,0,0,0,0,0,0,0,21,Amstel Brouwerij B. V.
15,1075,3.0,3.0,2.5,Oatmeal Stout,3.0,3.0,Caldera Oatmeal Stout,7.2,10789,...,0,0,0,0,0,0,0,0,39,Caldera Brewing Company
17,1075,4.0,3.0,4.0,American Pale Lager,4.0,4.0,Caldera OBF 15,5.6,12386,...,0,0,0,0,0,0,0,0,39,Caldera Brewing Company
19,1075,4.5,4.5,3.0,Rauchbier,4.0,4.5,Rauch Ür Bock,7.4,58046,...,0,0,0,0,0,0,0,0,24,Caldera Brewing Company

In [24]:
beer_df.dtypes.tolist()

[dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('uint8'),
 dtype('int32'),
 dtype('O')]

In [ ]:
# beer_data = pd.concat([beer_df, pd.DataFrame(predicted_clusters)], axis=1)

In [ ]:
# # beer_data.rename(columns={"0":"cluster"})
# final_beer = beer_data.rename(columns={"0": "cluster", "beer_beerid": "beer_id"})
# final_beer.head()

In [25]:
#beer_df.columns
beer_df.columns.tolist()

['brewery_id',
 'review_overall',
 'review_aroma',
 'review_appearance',
 'beer_style',
 'review_palate',
 'review_taste',
 'beer_name',
 'beer_abv',
 'beer_beerid',
 'overall_review',
 'taste_review',
 'aroma_review',
 'appearance_review',
 'palate_review',
 'Altbier',
 'American Adjunct Lager',
 'American Amber / Red Ale',
 'American Amber / Red Lager',
 'American Barleywine',
 'American Black Ale',
 'American Blonde Ale',
 'American Brown Ale',
 'American Dark Wheat Ale',
 'American Double / Imperial IPA',
 'American Double / Imperial Pilsner',
 'American Double / Imperial Stout',
 'American IPA',
 'American Malt Liquor',
 'American Pale Ale (APA)',
 'American Pale Lager',
 'American Pale Wheat Ale',
 'American Porter',
 'American Stout',
 'American Strong Ale',
 'American Wild Ale',
 'Baltic Porter',
 'Belgian Dark Ale',
 'Belgian IPA',
 'Belgian Pale Ale',
 'Belgian Strong Dark Ale',
 'Belgian Strong Pale Ale',
 'Berliner Weissbier',
 'Bière de Champagne / Bière Brut',
 'Bière de Garde',
 'Black & Tan',
 'Bock',
 'Braggot',
 'California Common / Steam Beer',
 'Chile Beer',
 'Cream Ale',
 'Czech Pilsener',
 'Doppelbock',
 'Dortmunder / Export Lager',
 'Dubbel',
 'Dunkelweizen',
 'Eisbock',
 'English Barleywine',
 'English Bitter',
 'English Brown Ale',
 'English Dark Mild Ale',
 'English India Pale Ale (IPA)',
 'English Pale Ale',
 'English Pale Mild Ale',
 'English Porter',
 'English Stout',
 'English Strong Ale',
 'Euro Dark Lager',
 'Euro Pale Lager',
 'Euro Strong Lager',
 'Extra Special / Strong Bitter (ESB)',
 'Faro',
 'Flanders Oud Bruin',
 'Flanders Red Ale',
 'Foreign / Export Stout',
 'Fruit / Vegetable Beer',
 'German Pilsener',
 'Gose',
 'Gueuze',
 'Happoshu',
 'Hefeweizen',
 'Herbed / Spiced Beer',
 'Irish Dry Stout',
 'Irish Red Ale',
 'Japanese Rice Lager',
 'Keller Bier / Zwickel Bier',
 'Kristalweizen',
 'Kvass',
 'Kölsch',
 'Lambic - Fruit',
 'Lambic - Unblended',
 'Light Lager',
 'Low Alcohol Beer',
 'Maibock / Helles Bock',
 'Milk / Sweet Stout',
 'Munich Dunkel Lager',
 'Munich Helles Lager',
 'Märzen / Oktoberfest',
 'Oatmeal Stout',
 'Old Ale',
 'Pumpkin Ale',
 'Quadrupel (Quad)',
 'Rauchbier',
 'Roggenbier',
 'Russian Imperial Stout',
 'Rye Beer',
 'Sahti',
 'Saison / Farmhouse Ale',
 'Schwarzbier',
 'Scotch Ale / Wee Heavy',
 'Scottish Ale',
 'Scottish Gruit / Ancient Herbed Ale',
 'Smoked Beer',
 'Tripel',
 'Vienna Lager',
 'Weizenbock',
 'Wheatwine',
 'Winter Warmer',
 'Witbier',
 'cluster',
 'brewery_name']

In [26]:
from config import pw
# print({pw})

In [27]:
beer_df = beer_df.rename(columns={"American Pale Ale (APA)": "American Pale Ale", "BiÃ¨re de Champagne / BiÃ¨re Brut": "BiÃ¨re de Champagne","California Common / Steam Beer": "California Common", "Dortmunder / Export Lager":"Dortmunder","English India Pale Ale (IPA)":"English India Pale Ale","Extra Special / Strong Bitter (ESB)":"Extra Special", "Foreign / Export Stout": "Export Stout","Fruit / Vegetable Beer":"Fruit or Vegetable Beer","Herbed / Spiced Beer":"Herbed or Spiced Beer", "Keller Bier / Zwickel Bier":"Keller Bier or Zwickel Bier","Maibock / Helles Bock":"Maibock or Helles Bock","Milk / Sweet Stout":"Milk or Sweet Stout","MÃ¤rzen / Oktoberfest":"MÃ¤rzen or Oktoberfest", "Milk / Sweet Stout": "Milk or Sweet Stout","Saison / Farmhouse Ale":"Saison or Farmhouse Ale","Scottish Gruit / Ancient Herbed Ale":"Scottish Gruit or Ancient Herbed Ale","Quadrupel (Quad)":"Quadrupel"})

In [28]:
#beer_df.columns
beer_df.columns.tolist()

['brewery_id',
 'review_overall',
 'review_aroma',
 'review_appearance',
 'beer_style',
 'review_palate',
 'review_taste',
 'beer_name',
 'beer_abv',
 'beer_beerid',
 'overall_review',
 'taste_review',
 'aroma_review',
 'appearance_review',
 'palate_review',
 'Altbier',
 'American Adjunct Lager',
 'American Amber / Red Ale',
 'American Amber / Red Lager',
 'American Barleywine',
 'American Black Ale',
 'American Blonde Ale',
 'American Brown Ale',
 'American Dark Wheat Ale',
 'American Double / Imperial IPA',
 'American Double / Imperial Pilsner',
 'American Double / Imperial Stout',
 'American IPA',
 'American Malt Liquor',
 'American Pale Ale',
 'American Pale Lager',
 'American Pale Wheat Ale',
 'American Porter',
 'American Stout',
 'American Strong Ale',
 'American Wild Ale',
 'Baltic Porter',
 'Belgian Dark Ale',
 'Belgian IPA',
 'Belgian Pale Ale',
 'Belgian Strong Dark Ale',
 'Belgian Strong Pale Ale',
 'Berliner Weissbier',
 'Bière de Champagne / Bière Brut',
 'Bière de Garde',
 'Black & Tan',
 'Bock',
 'Braggot',
 'California Common',
 'Chile Beer',
 'Cream Ale',
 'Czech Pilsener',
 'Doppelbock',
 'Dortmunder',
 'Dubbel',
 'Dunkelweizen',
 'Eisbock',
 'English Barleywine',
 'English Bitter',
 'English Brown Ale',
 'English Dark Mild Ale',
 'English India Pale Ale',
 'English Pale Ale',
 'English Pale Mild Ale',
 'English Porter',
 'English Stout',
 'English Strong Ale',
 'Euro Dark Lager',
 'Euro Pale Lager',
 'Euro Strong Lager',
 'Extra Special',
 'Faro',
 'Flanders Oud Bruin',
 'Flanders Red Ale',
 'Export Stout',
 'Fruit or Vegetable Beer',
 'German Pilsener',
 'Gose',
 'Gueuze',
 'Happoshu',
 'Hefeweizen',
 'Herbed or Spiced Beer',
 'Irish Dry Stout',
 'Irish Red Ale',
 'Japanese Rice Lager',
 'Keller Bier or Zwickel Bier',
 'Kristalweizen',
 'Kvass',
 'Kölsch',
 'Lambic - Fruit',
 'Lambic - Unblended',
 'Light Lager',
 'Low Alcohol Beer',
 'Maibock or Helles Bock',
 'Milk or Sweet Stout',
 'Munich Dunkel Lager',
 'Munich Helles Lager',
 'Märzen / Oktoberfest',
 'Oatmeal Stout',
 'Old Ale',
 'Pumpkin Ale',
 'Quadrupel',
 'Rauchbier',
 'Roggenbier',
 'Russian Imperial Stout',
 'Rye Beer',
 'Sahti',
 'Saison or Farmhouse Ale',
 'Schwarzbier',
 'Scotch Ale / Wee Heavy',
 'Scottish Ale',
 'Scottish Gruit or Ancient Herbed Ale',
 'Smoked Beer',
 'Tripel',
 'Vienna Lager',
 'Weizenbock',
 'Wheatwine',
 'Winter Warmer',
 'Witbier',
 'cluster',
 'brewery_name']

In [29]:
beer_df.to_csv("data/beer_data.csv")

In [30]:
from sqlalchemy import create_engine

In [31]:
# Create database connection 

connection_string = f"postgres:{pw}@localhost:5432/beer_db"

engine = create_engine(f'postgres://{connection_string}')

In [32]:
beer_df.to_sql(name='beerdata', con=engine, if_exists='append', index=False)

In [33]:
# Confirm tables
engine.table_names()

['locationdata', 'beerdata']

In [34]:
pd.read_sql_query('select * from beerdata', con=engine).head()

,brewery_id,review_overall,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,...,Scottish Gruit or Ancient Herbed Ale,Smoked Beer,Tripel,Vienna Lager,Weizenbock,Wheatwine,Winter Warmer,Witbier,cluster,brewery_name
0,10325,1.5,2.0,2.5,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986,...,0,0,0,0,0,0,0,0,53,Vecchio Birraio
1,10325,3.0,2.5,3.0,English Strong Ale,3.0,3.0,Red Moon,6.2,48213,...,0,0,0,0,0,0,0,0,53,Vecchio Birraio
2,10325,3.0,2.5,3.0,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215,...,0,0,0,0,0,0,0,0,53,Vecchio Birraio
3,10325,3.0,3.0,3.5,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969,...,0,0,0,0,0,0,0,0,53,Vecchio Birraio
4,1075,4.0,4.5,4.0,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883,...,0,0,0,0,0,0,0,0,92,Caldera Brewing Company